extends layout

block content
    div
        #wrapper
            #leftcolumn
                img(src="/images/owl.jpg")
            #rightcolumn(class="bubble")
                p.
                    Data will be reset on page refresh. If no data is shown, please give the app a minute to collect tweets in real time.
                    Source code can be found #[a(href="https://github.com/reinaldo13/hootsuite-lang-counter") here]
        #container